body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}
.container{
    max-width: 800px;
    height: 1100px ;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controller {
    height: 800px;
    width: 750px;
    align-items: center;
}
.info {
    align-items: center;
    margin-top: 20px;
}